#########################################
# Ansible managed file
#########################################
server:
    rundir: "{{ knot_socket_path }}"
    user: knot:knot
    automatic-acl: on
{% for entry in knot_listen_address %}
    listen: {{ entry }}
{% endfor %}

log:
  - target: {{ knot_log_control.target }}
    control: {{ knot_log_control.level }}
  - target: {{ knot_log_server.target }}
    server: {{ knot_log_server.level }}
  - target: {{ knot_log_zone.target }}
    zone: {{ knot_log_zone.level }}
  - target: {{ knot_log_default.target }}
    any: {{ knot_log_default.level }}

database:
    storage: "/var/lib/knot"

template:
{% for entry in knot_zones_template %}
  - id: {{ entry['name'] }}
    storage: "{{ entry['storage'] }}"
    file: "{{ entry['file'] }}"
    dnssec-signing: "{{ entry['dnssec-signing'] }}"
{% endfor %}

zone:
{% for entry in knot_zones %}
  - domain: {{ entry }}
    template: {{ knot_zones[entry]['template'] | default('default')}}
    dnssec-signing: {{ knot_zones[entry].dnssec | default('off') }}
{% endfor %}
